<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NavBar</title>
    <!-- Link to the compiled Tailwind CSS -->
    <link href="/css/tailwind.css" rel="stylesheet" />
  </head>
<body>
<nav style="background-color: #1f2937; color: white; padding: 10px;">
    <div style="display: flex; justify-content: space-between; align-items: center;">
      <h1 style="font-size: 2rem; font-weight: bold; ">StoryBookApp Admin </h1>

      <div>
        <a href="/api/admin/logout" style="color: white; text-decoration: none; margin-right: 20px;">Logout</a>
      </div>
    </div>
  </nav>
</body>
</html>
  