<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SideBar</title>
    <!-- Link to the compiled Tailwind CSS -->
    <link href="/css/tailwind.css" rel="stylesheet" />
  </head>
<body>
    <hr>
    <div style="width: 200px; height: 100vh; background-color: #1f2937; position: fixed;">
        <ul style="list-style-type: none; padding: 0; margin: 0;">
          <li style="padding: 10px;"><a href="/api/admin/dashboard" style="text-decoration: none; color: #fff;">Dashboard</a></li>
          <li style="padding: 10px;"><a href="/api/admin/users" style="text-decoration: none; color: #fff;">Users</a></li>
          <li style="padding: 10px;"><a href="/api/admin/stories" style="text-decoration: none; color: #fff;">Stories</a></li>
        </ul>
      </div>
</body>
</html>
  